<html>
<head>
<title>Amazon Echo Skill Web Service</title>
</head>
<body>

<h1>Amazon Echo Skill Web Service</h1>

<section>
<h1>Intents.json</h1>
<code><pre>{}</pre></code>
</section>

<section>
<h1>Custom Slot Types</h1>
<code><pre></pre></code>
</section>

<section>
<h1>Sample Utterances</h1>
<code><pre></pre></code>
</section>

</body>
</html>