<html>
<head>
<title>Amazon Echo Skill Web Service</title>
<style>body{padding-bottom:10em;}</style>
</head>
<body>

<h1>Amazon Echo Skill Web Service</h1>

<p><a href="https://developer.amazon.com/edw/home.html">Amazon Developer Portal</a></p>

<section>
<h1>Intent Schema</h1>
<code><pre>@ViewData["intentSchema"]</pre></code>
</section>

<section>
<h1>Custom Slot Types</h1>
@foreach(var s in (IEnumerable<NEcho.WebServiceData.EchoCustomSlotType>)ViewData["customSlotTypes"]) {
    <section>
    <h1>@s.Name</h1>
    <code><pre>@foreach (var v in s.Values) { @(v + "\n") }</pre></code>
    </section>
}
<code><pre></pre></code>
</section>

<section>
<h1>Sample Utterances</h1>
<code><pre>@ViewData["sampleUtterances"]</pre></code>
</section>

</body>
</html>